{% extends 'home.html' %}
{% block body %}
{%load static%}

  <!-- Photo Grid -->
  <div class="w3-row">
    <div class="w3-half">
      <img src="{%static '/images/1a.jpg'%}" style="width:100%">
      <img src="{%static '/images/2a.jpg'%}" style="width:100%">
      <img src="{%static '/images/4a.jpg'%}" style="width:100%">
    </div>

    <div class="w3-half">
      <img src="{%static '/images/3a.jpg'%}" style="width:100%">
      <img src="{%static '/images/38.jpg'%}" style="width:100%">
    </div>
  </div>
  
<!-- End Page Content -->
</div>

</body>

{% endblock %}
